$bodyBg: #ffffff; // Light gray background color
$mainBg: rgb(233, 230, 230); // White background color
$mainColor: #999; // Dodger blue accent color
$txtColor: #333333; // Dark gray text color
$purple: #8e44ad; // Deep purple accent color
$orange: #000000; // Carrot orange accent color
$white: #ffffff;
$black: #333333; 
$green: #2ecc71; 
$red: #e74c3c; 



$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 320px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
